<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <form id="chat">
        <h3>Usuários online: <span id="qtdOnline"> 0 </span></h3>
        <div class="messages"></div>

        <input type="text" name="message" maxlength="100" placeholder="Digite sua mensagem">
        <button type="submit">Enviar</button>
    </form>
    <script type="text/javascript" src="chat.js"></script>
</body>
</html>