body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#container{
    margin-left:26%;
    margin-top: 4.5%;
    width:50%;
}

#txtUsername{
    border-radius: 8px;
    width: 100%;
    border-color: white;
}

#inputCont{
    padding: 5%;
    background-color: #007bff;
    border: 1px solid black;
}

#roomCont{
    padding: 2%;
}

#salasDispo{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}
.buttonClass{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.room
{
    border-radius: 3px;
}
.room:hover{
    border: 1px solid black;
    background-color:#5dabff;
}